:root {
  --mainColor: #0055a3;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
button,
a {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.main-button {
  display: inline-block;
  cursor: pointer;
  color: white;
  background-color: var(--mainColor);
  font-size: 1.25rem;
  padding: 12px 52px;
  border: none;
  border-radius: 12px;
  box-shadow: 0px 1px 13px rgba(10, 157, 220, 0.39);
  transition: box-shadow 200ms ease-in-out, background-color 200ms ease-in-out;
  text-decoration: none;
}
.main-button:hover {
  background-color: #046ed1;
  box-shadow: 0px 1px 13px 5px rgba(10, 157, 220, 0.39);
}

.overlay {
  position: fixed;
  inset: 0px 0px 0px 0px;
  z-index: 10;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.overlay.overlay-transparent {
  background-color: transparent;
}
.overlay[data-active=true] {
  pointer-events: all;
  opacity: 1;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media only screen and (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}
nav {
  display: flex;
  box-shadow: 0px 2px 4px hsla(0deg, 0%, 0%, 0.25);
  justify-content: center;
  top: 0;
  position: sticky;
  background: white;
  z-index: 1;
}

nav .wrapper {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

h1 {
  width: 6.65rem;
  height: 2.4375rem;
  font-size: 2.5rem;
  font-family: "Iceland";
  color: var(--mainColor);
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
}

@keyframes toggleNavLinksVisibility {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.nav-links {
  display: flex;
}
@media only screen and (max-width: 768px) {
  .nav-links {
    width: 170px;
    padding: 13px 6px 45px 6px;
    flex-direction: column;
    gap: 8px;
    position: fixed;
    top: 68px;
    right: 20px;
    background-color: var(--mainColor);
    box-shadow: -5px 1px 6px 0px #0474db;
    opacity: 0;
    border-radius: 9px;
    z-index: 1000;
  }
  .nav-links[data-animation=opening] {
    animation: toggleNavLinksVisibility 200ms ease-in-out;
  }
  .nav-links[data-animation=closing] {
    animation: toggleNavLinksVisibility 200ms ease-in-out reverse;
  }
  .nav-links[data-visible=true] {
    opacity: 1;
  }
  .nav-links[data-visible=false] {
    opacity: 0;
    pointer-events: none;
  }
}
@media only screen and (min-width: 768px) {
  .nav-links {
    align-items: center;
    gap: 30px;
  }
}

.nav-link {
  display: flex;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  .nav-link {
    padding: 4px 9px;
    color: white;
    font-size: 1.125rem;
    font-weight: 500;
    background-color: var(--mainColor);
    border-radius: 10px;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 156px;
    transition: background-color 200ms ease-in-out;
  }
  .nav-link.active {
    background: #002e64;
  }
}
@media only screen and (min-width: 768px) {
  .nav-link {
    font-size: 1rem;
    font-weight: 500;
    color: #181818;
    background-color: transparent;
    transition: color 200ms ease-in-out;
  }
  .nav-link:hover {
    color: #606060;
  }
  .nav-link.active {
    color: #01428d;
  }
  .nav-link.active:hover {
    color: #005dc7;
  }
  .nav-link .nav-link-icon {
    display: none;
  }
}

.nav-link-icon {
  display: inline-block;
  width: 22px;
  height: 22px;
}

.nav-buttons {
  display: flex;
  gap: 26px;
}

.nav-button {
  cursor: pointer;
  position: relative;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
}

.shopping-cart-button {
  cursor: pointer;
  color: var(--mainColor);
  transition: color 200ms ease-in-out;
}
.shopping-cart-button:hover {
  color: #0368c7;
}

.shopping-cart-button svg {
  display: inline-block;
  width: 38px;
  height: 38px;
}

.shopping-cart-button-icon svg {
  display: inline-flex;
  width: 100%;
  height: 100%;
}

.burger-menu {
  margin-top: 6px;
}
.burger-menu[data-open=false] .burger-menu-close-icon {
  display: none;
}
.burger-menu[data-open=true] .burger-menu-open-icon {
  display: none;
}
@media only screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}

.burger-menu-icon,
.burger-menu-icon svg {
  color: var(--mainColor);
  display: inline-block;
  width: 32px;
  height: 32px;
}

.shopping-cart-items-count {
  position: absolute;
  color: var(--mainColor);
  left: 30px;
  bottom: 2px;
}

.logo {
  width: 42px;
}

@keyframes shoppingCartModalAppearing {
  from {
    opacity: 0.6;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes shoppingCartSidebarAppearing {
  from {
    transform: translateX(450px);
  }
  to {
    transform: translateX(0px);
  }
}
.shopping-cart {
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  inset: 0px 0px 0px 0px;
  background-color: #ebe9e9;
  z-index: 1000;
  border-radius: 10px;
}
.shopping-cart[data-open=true] {
  opacity: 1;
  pointer-events: all;
}
.shopping-cart[data-animation=opening] {
  animation: shoppingCartModalAppearing 200ms ease-in-out;
}
.shopping-cart[data-animation=closing] {
  animation: shoppingCartModalAppearing 200ms ease-in-out reverse;
}
@media only screen and (min-width: 768px) {
  .shopping-cart {
    width: 450px;
    height: 100%;
    border-radius: 0px;
    inset: unset;
    top: 0px;
    right: 0px;
    transform: translateX(450px);
    opacity: 1;
  }
  .shopping-cart[data-open=true] {
    transform: translateX(0px);
  }
  .shopping-cart[data-animation=opening] {
    animation: shoppingCartSidebarAppearing 200ms ease-in-out;
  }
  .shopping-cart[data-animation=closing] {
    animation: shoppingCartSidebarAppearing 200ms ease-in-out reverse;
  }
}

.shopping-cart-header {
  display: flex;
  justify-content: space-between;
  padding: 23px 24px 20px 16px;
}

.shopping-cart-header-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.shopping-cart-header-title h3 {
  font-size: 1.17rem;
  font-weight: 500;
  color: #232222;
}

.shopping-cart-close {
  display: inline-block;
  cursor: pointer;
  width: 32px;
  height: 32px;
  margin-right: 48px;
  background: none;
  border: 0px;
  color: #232222;
}
.shopping-cart-close svg {
  display: inline-block;
  color: #615f5f;
  transition: color 200ms ease-in-out;
  width: 100%;
  height: 100%;
}
.shopping-cart-close:hover svg {
  color: #2b2a2a;
}

.shopping-cart-header-remove-all {
  font-size: 1.17rem;
  font-weight: 500;
  color: #615f5f;
  border: none;
  outline: none;
  background: none;
  margin-bottom: 14px;
  cursor: pointer;
}
.shopping-cart-header-remove-all:hover {
  color: #3b3b3b;
}

.shopping-cart-separator {
  width: calc(100% - 16px);
  min-height: 2px;
  background: #bcbaba;
  margin-left: auto;
}

.shopping-cart-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  height: 100%;
}

.shopping-cart-items {
  padding: 15px 24px 15px 16px;
  flex: 1;
  overflow: auto;
}

.shopping-cart-item-wrapper {
  display: flex;
  gap: 12px;
  align-items: flex-start;
}

.shopping-cart-item-container {
  flex: 1;
}

.shopping-cart-item {
  margin-bottom: 12px;
}
.shopping-cart-item .catalogue-item-image {
  background-color: #d9d9d9;
  --width: 128px;
}
.shopping-cart-item header {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
.shopping-cart-item header h4 {
  flex: 1;
  margin-top: 2px;
  font-weight: 500;
  letter-spacing: -0.06em;
}
.shopping-cart-item .shopping-cart-separator {
  width: 100%;
  margin-top: 10px;
}

.shopping-cart-item-close-button {
  display: flex;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: #0055a3;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
}
.shopping-cart-item-close-button:hover {
  background-color: #033a6e;
}
.shopping-cart-item-close-button svg {
  width: 24px;
  height: 24px;
  color: white;
}

.input-wrapper {
  display: flex;
  border-radius: 5px;
  margin-bottom: 10px;
  border: solid 2px #003363;
}

.shopping-cart-quantity {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  border: none;
  outline: none;
}

.count-cta {
  font-size: 32px;
  font-weight: 500;
  display: flex;
  padding-bottom: 6px;
  border: none;
  outline: none;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 29px;
  background-color: #0055a3;
  transition: background-color 200ms ease-in-out;
  color: white;
  cursor: pointer;
}
.count-cta:hover {
  background-color: #033a6e;
}

.shopping-cart-checkout {
  display: flex;
  gap: 12px;
  padding: 12px 24px;
  flex-direction: column;
  align-items: flex-end;
}

.hero {
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.hero h2 {
  font-weight: 500;
  font-size: 1.5rem;
  color: #161616;
  text-align: center;
  margin-bottom: 11px;
}
.hero p {
  font-weight: 500;
  color: #181818;
  text-align: center;
  padding: 0px 30px;
  margin-bottom: 36px;
}
@media only screen and (min-width: 768px) {
  .hero {
    flex-direction: row;
  }
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-img {
  width: 100%;
  max-width: 480px;
  aspect-ratio: 363/350;
  margin-bottom: 15px;
  flex: 1.2;
}
.hero-img img {
  display: block;
}
@media only screen and (min-width: 768px) {
  .hero-img {
    max-width: unset;
    width: clamp(0px, 80vw, 650px);
  }
}

.hero-text {
  flex: 1;
}

@keyframes catalogueItemModalAppearing {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
.heading {
  font-size: 1.125rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #232222;
  margin: 22px 0px 0px 21px;
}

.catalogue-filters-list ul {
  display: flex;
  gap: 14px;
  padding: 12px 20px;
  overflow-x: auto;
}

.catalogue-filters-list-item {
  cursor: pointer;
  display: inline-flex;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.25);
  padding: 18px 8px 23px 8px;
  transition: border-color 100ms ease-in-out, box-shadow 100ms ease-in-out, 200ms ease-in-out transform;
}
.catalogue-filters-list-item:hover {
  transform: scale(1.02);
}
.catalogue-filters-list-item .catalogue-item-image {
  --width: 120px;
  margin-bottom: 20px;
}

.catalogue-filters-list-item[data-enabled=true] {
  border: 1px solid #0e8bfe;
  box-shadow: 0px 3px 4px 2px rgba(14, 139, 254, 0.25), 0px 0px 0px 1px #0e8bfe;
}

.catalogue-filters-list-item h4 {
  font-size: 1rem;
  font-weight: 500;
  color: #232222;
}

.catalogue-item-image {
  width: var(--width);
  aspect-ratio: 1/1;
  padding: calc(var(--width) * 0.1);
  background-color: #eae6e6;
  border-radius: 6%;
}
.catalogue-item-image img {
  display: block;
  border-radius: calc(var(--width) * 0.1);
}

.catalogue-list-item-price {
  font-size: 1.375rem;
  font-weight: 500;
}

.catalogue-list {
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(196px, 1fr));
  justify-items: center;
}

.catalogue-list-item {
  cursor: pointer;
  height: 100%;
  padding: 14px 34px;
  border: 1px solid #e0e0e0;
  border-radius: 16px;
  box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.25);
  transition: 200ms ease-in-out transform;
}
.catalogue-list-item:hover {
  transform: scale(1.02);
}
.catalogue-list-item .catalogue-item-image {
  --width: 100%;
}
.catalogue-list-item .catalogue-item-title {
  margin-top: 12px;
  margin-bottom: 6px;
}

.catalogue-item-title {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.06em;
}

.catalogue-list-item-modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 90vw;
  height: 90vh;
  z-index: 1000;
  border-radius: 12px;
  overflow: hidden;
  opacity: 1;
}
.catalogue-list-item-modal[data-active=false] {
  opacity: 0;
}
.catalogue-list-item-modal[data-animation=opening] {
  animation: catalogueItemModalAppearing 200ms ease-in-out;
}
.catalogue-list-item-modal[data-animation=closing] {
  animation: catalogueItemModalAppearing 200ms ease-in-out reverse;
}
.catalogue-list-item-modal .catalogue-item-title {
  margin-bottom: 3px;
}
.catalogue-list-item-modal .catalogue-list-item-price {
  margin-bottom: 8px;
}
.catalogue-list-item-modal .main-button {
  margin-top: auto;
}

.catalogue-list-item-modal-image {
  display: flex;
  justify-content: center;
  padding: 10px;
  background: #eae6e6;
}
.catalogue-list-item-modal-image img {
  width: 200px;
}

.catalogue-list-item-text {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
}

/*# sourceMappingURL=style.css.map */
