@use "../base/mixins.scss" as *;

@keyframes shoppingCartModalAppearing {
  from {
    opacity: 0.6;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes shoppingCartSidebarAppearing {
  from {
    transform: translateX(450px);
  }

  to {
    transform: translateX(0px);
  }
}

.shopping-cart {
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  inset: 0px 0px 0px 0px;
  background-color: #ebe9e9;
  z-index: 1000;
  border-radius: 10px;

  &[data-open="true"] {
    opacity: 1;
    pointer-events: all;
  }

  &[data-animation="opening"] {
    animation: shoppingCartModalAppearing 200ms ease-in-out;
  }

  &[data-animation="closing"] {
    animation: shoppingCartModalAppearing 200ms ease-in-out reverse;
  }

  @include lg-breakpoint {
    width: 450px;
    height: 100%;
    border-radius: 0px;
    inset: unset;
    top: 0px;
    right: 0px;
    transform: translateX(450px);
    opacity: 1;

    &[data-open="true"] {
      transform: translateX(0px);
    }

    &[data-animation="opening"] {
      animation: shoppingCartSidebarAppearing 200ms ease-in-out;
    }

    &[data-animation="closing"] {
      animation: shoppingCartSidebarAppearing 200ms ease-in-out reverse;
    }
  }
}

.shopping-cart-header {
  display: flex;
  justify-content: space-between;
  padding: 23px 24px 20px 16px;
}

.shopping-cart-header-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.shopping-cart-header-title h3 {
  font-size: 1.17rem;
  font-weight: 500;
  color: #232222;
}

.shopping-cart-close {
  display: inline-block;
  cursor: pointer;
  width: 32px;
  height: 32px;
  margin-right: 48px;
  background: none;
  border: 0px;
  color: #232222;

  svg {
    display: inline-block;
    color: #615f5f;
    transition: color 200ms ease-in-out;
    width: 100%;
    height: 100%;
  }

  &:hover {
    svg {
      color: #2b2a2a;
    }
  }
}

.shopping-cart-header-remove-all {
  font-size: 1.17rem;
  font-weight: 500;
  color: #615f5f;
  border: none;
  outline: none;
  background: none;
  margin-bottom: 14px;
  cursor: pointer;

  &:hover {
    color: #3b3b3b;
  }
}

.shopping-cart-separator {
  width: calc(100% - 16px);
  min-height: 2px;
  background: #bcbaba;
  margin-left: auto;
}

.shopping-cart-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  height: 100%;
}

.shopping-cart-items {
  padding: 15px 24px 15px 16px;
  flex: 1;
  overflow: auto;
}

.shopping-cart-item-wrapper {
  display: flex;
  gap: 12px;
  align-items: flex-start;
}

.shopping-cart-item-container {
  flex: 1;
}

.shopping-cart-item {
  margin-bottom: 12px;

  .catalogue-item-image {
    background-color: #d9d9d9;
    --width: 128px;
  }

  header {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;

    h4 {
      flex: 1;
      margin-top: 2px;
      font-weight: 500;
      letter-spacing: -0.06em;
    }
  }

  .shopping-cart-separator {
    width: 100%;
    margin-top: 10px;
  }
}

.shopping-cart-item-close-button {
  display: flex;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: #0055a3;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;

  &:hover {
    background-color: #033a6e;
  }

  svg {
    width: 24px;
    height: 24px;
    color: white;
  }
}

.input-wrapper {
  display: flex;
  border-radius: 5px;
  margin-bottom: 10px;
  border: solid 2px #003363;
}

.shopping-cart-quantity {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  border: none;
  outline: none;
}

.count-cta {
  font-size: 32px;
  font-weight: 500;
  display: flex;
  padding-bottom: 6px;
  border: none;
  outline: none;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 29px;
  background-color: #0055a3;
  transition: background-color 200ms ease-in-out;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: #033a6e;
  }
}

.shopping-cart-checkout {
  display: flex;
  gap: 12px;
  padding: 12px 24px;
  flex-direction: column;
  align-items: flex-end;
}
